.__titanium_hint {
    all: initial;
    background: #fff200 !important;
    border: 1px solid #ccc200 !important;
    font-family: "DejaVu Sans Mono", FreeMono, "Liberation Mono", "Lucida Console", monospace !important;
    font-size: small !important;
    font-weight: bold !important;
    max-width: none !important;
    padding: 1px 2px !important;
    width: auto !important;
}
