.__titanium_hint {
    background: #fff200 !important;
    border: 1px solid #ccc200 !important;
    font-family: "DejaVu Sans Mono", FreeMono, "Liberation Mono", "Lucida Console", monospace !important;
    font-weight: bold !important;
    padding: 1px 2px !important;
}
